[Unit]
Description=claw.go service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=eric
Group=eric
WorkingDirectory=/opt/claw
ExecStart=/opt/claw/bin/claw -c /opt/claw/etc/claw.yaml
Restart=on-failure
RestartSec=5s
KillSignal=SIGTERM
TimeoutStopSec=30s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target